@font-face {
    font-family: 'Ubuntu';
    src: local('Ubuntu Light'), local('Ubuntu-Light'),
    url('../fonts/ubuntu-300-normal.woff2') format('woff2'),
    url('../fonts/ubuntu-300-normal.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
